<form action="/" method="post">
    <p>Ejemplo: c4 d4 e4 f4 g4 a4 b4 c5 (Escala de notas en ingles)</p>
    <strong>
        Ingrese Notas
    </strong>
    <input type="text" name="notas"><br><br>
    <strong> Ingrese Patterns</strong>
    <input type="text" name="patterns">
    <br><br>
    <input type="submit" value="Crear archivo MIDI" class="btn btn-success">
    <p>Se guarda el archivo MIDI como chords.mid en la carpeta public para descargar agregar al final de la URL /chords.mid</p>
    <p>Ejemplo: http://localhost:3000/chords.mid</p>
</form>