<div class="container">
    <div class="card card-container">
        <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->

        <h2 style="text-align:center; color:#fff; font-family:Montserrat; margin-top:-12px;">TELOS</h2>
        <p id="profile-name" class="profile-name-card"></p>
        <form class="form-signin" action="/login" method="post">
            <span id="reauth-email" class="reauth-email"></span>
            <input type="text" id="inputEmail" class="form-control" name="username" placeholder="Usuario" required autofocus>
            <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Contraseña" required>

            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Ingresar</button>
        </form>
        <!-- /form -->
        <a href="#" class="forgot-password">
                    ¿Olvide la contraseña?
                </a>
    </div>
    <!-- /card-container -->
</div>